.center {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.article__grey-text {
  color: #6c757d;
  font-weight: 400;
  font-size: 14px;
}

.link {
  text-decoration: none;
}

.article__image {
  width: 17rem;
  height: auto;
}

.article__perex {
  line-height: 24px;
}

.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.article__content {
  margin-top: 2rem;
}

.article__image-box {
  position: relative;
  width: 17rem;
  height: auto;
}

.article-detail__content {
  font-size: 1.25rem;
  line-height: 2rem;
}

.article-detail__image {
  width: 47.5rem;
  height: auto;
  margin-top: 0.5rem;
}

@media screen and (min-width: 650px) {
  .article {
    flex-direction: row;
  }

  .article__content {
    margin-top: 0;
    margin-left: 1.5rem;
    width: 35rem;
  }
}
